@use "../abstracts/" as *;

.ftr {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  background-color: $gold;
  @include flexbox-config(
    $flex-direction: column,
    $justify-content: center,
    $align-items: center
  );
}
