@use "../abstracts/" as *;

// gives default styles to footers on both pages and uses mixin for different device sizes

.home-ftr,
.location-ftr {
  @extend %ftr;
  @include flexbox-config($flex-direction: column);
  padding: 0 2rem;

  @include xs-tablets {
    padding: 5rem 1rem;
    @include flexbox-config(
      $flex-direction: row,
      $justify-content: space-between,
      $align-items: baseline
    );
  }

  @include desktop-breakpoint {
    padding: 5rem 10rem;
  }
}

// home footer bg color and font color
.home-ftr {
  background-color: $black;

  > * {
    color: $white;
  }
}

// default styles for headings on both pages
.home-ftr__heading,
.ftr_heading {
  @extend %heading;
  max-width: 68%;
  font-size: 36px;
  margin: {
    top: 1em;
    bottom: 1em;
  }
  flex: 0 1 auto;
  @include xs-tablets {
    flex: 0 1 170px;
    max-width: 100%;
  }
}

// default styles for footer info on both pages

.ftr__info {
  @extend %body-text;
  font-size: 18px;
  flex: 0 1 auto;
  margin-bottom: 2em;
  @include xs-tablets {
    flex: 0 1 300px;
    margin-bottom: 0;
  }
  @include xl-tablets {
    flex: 0 1 400px;
  }
}

// social media buttons
.socials {
  flex: 0 1 100px;

  .socials__list {
    @include flexbox-config(
      $flex-direction: row,
      $justify-content: flex-start,
      $align-items: center
    );
  }

  .socials__list-item {
    margin-right: 1em;
    color: $black;

    .socials__list-item-img-home {
      &:hover {
        cursor: pointer;
        filter: invert(60%) sepia(10%) saturate(1635%) hue-rotate(341deg)
          brightness(105%) contrast(87%);
      }
    }
  }
}

.socials__list-item-img-location {
  &:hover {
    cursor: pointer;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(252deg)
      brightness(105%) contrast(104%);
  }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
  .ftr_heading,
  .home-ftr__heading {
    font-size: 25px;
  }

  .ftr__info {
    font-size: 14px;
  }
}
