@use "../abstracts/" as a;

// leaflet js
#map {
  min-height: 100%;
}

// fixes button at top of page
.location__back-btn {
  display: inline-flex;
  position: absolute;
  align-items: center;
  z-index: 100;
  top: 0;
  left: 20%;
  background-color: a.$black;
  color: a.$white;

  &:hover {
    cursor: pointer;
    background-color: a.$gold;

    .back-home-btn {
      background-color: a.$gold;
    }
    .location__btn-icon {
      background-color: a.$black;
    }
  }

  // smaller gap on larger devices
  @include a.xs-tablets-v2 {
    left: 10%;
  }

  .location__btn-icon {
    background-color: a.$gold;
    padding: 1em;
  }

  .back-home-btn {
    background-color: a.$black;
    font-family: "Big Shoulders Display";
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.63636px;
    margin-left: 2em;
    margin-right: 2em;
    text-transform: uppercase;
  }
}

// set grid of page
.grid {
  display: grid;
  grid-template-rows: 2fr 2fr 1fr;
  min-height: 100vh;
  position: relative;
  z-index: 50;
}

// main information of page, subheadings and paragraph
.location-info {
  color: a.$white;
  background-color: a.$black;
  padding: 2em;
  justify-content: space-around;
  @include a.xs-tablets {
    @include a.flexbox-config($flex-direction: row);
    padding: 5em;
  }

  .location-info__header {
    @extend %heading;
    font-size: 50px;
    color: currentColor;
    margin-right: 2.5em;
    @include a.xl-tablets {
      margin-right: 5em;
    }
  }
}

.location-info__txt {
  > .location-info__sub-heading {
    @extend %heading;
    font-size: 36px;
    color: a.$gold;
    margin: {
      top: 1em;
      bottom: 1em;
    }
    + .location-info__address {
      @extend %body-text;
      font-size: 18px;
      margin: {
        top: 1em;
        bottom: 1em;
      }
      @include a.xs-tablets {
        font-size: 22px;
      }
    }
  }
}

.location-info__about {
  @extend %body-text;
  font-size: 18px;
  margin-bottom: 1em;
  max-width: 100%;
  @include a.xl-tablets {
    font-size: 22px;
    max-width: 75%;
  }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
  .location-info .location-info__header {
    margin-right: 1.5em;
  }
}
